numpy
pandas
scipy
matplotlib

# Medical Imaging Libraries
nibabel
SimpleITK
nipype
antspyx  # This is the correct package for ANTs
intensity-normalization

# Utility Libraries
python-dateutil  # This is the correct package name for dateutil
tqdm