numpy
pandas
scipy
matplotlib
tensorflow
scikit-learn
scikit-image

# Medical Imaging Libraries
pydicom
nibabel
SimpleITK
nipype
antspyx  # This is the correct package for ANTs
intensity-normalization
opencv-python

# Utility Libraries
python-dateutil  # This is the correct package name for dateutil
tqdm

# Jupyter Environment
notebook
ipykernel